
.header{
    background-color: cornflowerblue;
    color: white;
    font-family: Arial;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    height: 40px;
    width: 100%;
    position: fixed;
}